# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

variables:
- template: azure-pipelines-variables.yml

trigger:
- ${{ variables.triggerBranch }}

pool:
  vmImage: ${{ variables.vmImage }}

steps:
- task: Maven@3
  inputs:
    mavenPomFile: '$(mavenPomFile)'
    mavenOptions: '$(mavenOptions)'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '$(jdkVersion)'
    jdkArchitectureOption: '$(jdkArch)'
    publishJUnitResults: $(publishJUnitResults)
    testResultsFiles: '$(testResultsFiles)'
    goals: '$(mavenGoals)'

# Step 2: Publish build artifacts
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(pathToPublish)'    # Maven's default output folder
    ArtifactName: '$(artifactName)'       # Name of the artifact
    publishLocation: '$(publishLocation)'