# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master
- feature/*

pool:
  vmImage: ubuntu-latest


variables:  
    - template: azure-pipelines-variables.yml

name: $(majorVersion).$(minorVersion).$(patchVersion)-$(Rev:r)


stages:
- stage: Build
  displayName: 'Build Stage'
  jobs:
  - job: BuildJob
    displayName: 'Build Job'
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: 'pom.xml'
        mavenOptions: '-Xmx3072m'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.11'
        jdkArchitectureOption: 'x64'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        goals: 'package'    # Step 1: Build with Maven
    - task: PublishBuildArtifacts@1
      inputs:
          PathtoPublish: 'target'    # Maven's default output folder
        ArtifactName: 'drop'       # Name of the artifact
        publishLocation: 'Container'
