# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master
- feature/abi-testing

pool:
  vmImage: ubuntu-latest

variables:  
- template: variables.yml

name: 'springbootjunit5-$(majorversion).$(minorversion).$(patchversion)-$(Build.BuildId)'

stages:
- stage: Build
  displayName: 'Build Stage'
  jobs:
  - job: Build
    displayName: 'Build Job'
    steps:
    # Step 1: Build with Maven
    - template: templates/maven-build.yml
      parameters:
        pomFile: 'pom.xml'
        jdkVersion: '1.11'
        mavenGoals: 'clean package'
    # Step 2: Publish Build Artifacts
    - task: PublishPipelineArtifact@1
      displayName: 'Publish pipeline Artifacts'
      inputs:
        targetPath: '$(Pipeline.Workspace)' 
        publishLocation: 'pipeline' 
        artifactName: 'drop'       # Name of the artifact


- stage: Deploy
  displayName: 'Deploy Stage'
  dependsOn: Build
  jobs:
  - job: Deploy
    displayName: 'Deploy Job'
    steps:
    - script: echo "Deploying the application..."
      displayName: 'Deploy Application'
    # Add your deployment steps here
    - task: DownloadPipelineArtifact@2
      displayName: 'Download Pipeline Artifacts'
      inputs:
        buildType: 'current'       
        targetPath: '$(Pipeline.Workspace)'
        