trigger: none

pool:
  vmImage: 'ubuntu-latest'


steps:


- task: JavaToolInstaller@0
  inputs:
    versionSpec: '11'
    jdkSourceOption: 'PreInstalled'
    jdkArchitectureOption: 'x64'

- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean package'
    options: '-Xmx3072m'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'target'
    ArtifactName: 'springboot-artifact'
    publishLocation: 'Container'
